$mat-cdc-black: (
  50: #666666,
  100: #595959,
  200: #4d4d4d,
  300: #404040,
  400: #333333,
  500: #282828,
  600: #262626,
  700: #1a1a1a,
  800: #0d0d0d,
  900: #000000,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$mat-cdc-grey: (
  50: #d9d9d9,
  100: #cccccc,
  200: #bfbfbf,
  300: #b3b3b3,
  400: #a6a6a6,
  500: #9e9e9e,
  600: #999999,
  700: #8c8c8c,
  800: #808080,
  900: #737373,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$mat-cdc-pink: (
  50: #e6b3d0,
  100: #df9fc5,
  200: #d98cb9,
  300: #d279ad,
  400: #cc66a2,
  500: #c85a9b,
  600: #c65396,
  700: #bf408a,
  800: #ac397c,
  900: #99336e,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);