/* AppComponent's private CSS styles */
h1 {
    font-size: 1em;
    color: rgb(0, 0, 0);
    margin: auto;
  }

  h2 {
    font-size: 1em;
    color: rgb(0, 0, 0);
    margin: auto;
  }

  #copyright {
    padding-top: 3vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-between;
  }

  
  
  .ccomptes-container{
    display: flex;
  }
