#main-component-container {
    display: flex;
    flex-direction:column;
    padding-right: 5%;
    padding-left: 5%;

}

#nomenclatures, #trames, #indicators {
    display: flex;
    width:100%;
    height:67vh;
}


.left-column {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: 0.3%;
    width:24%;
    height:100%;
    > .mat-card-title-group {
        display: block;
      }
  > .mat-card-content {
        overflow: hidden;
        white-space: nowrap;

      }
}

.right-column {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: 0.3%;
    width:76%;
    height:100%;
    > .mat-card-title-group {
        display: block;
      }
  > .mat-card-content {
          overflow-y: auto;
      }
}

.indicators-body-card,  .trames-body-card,  .nomenclatures-body-card  {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height:100%;
}
.indicators-filter-card, .nomenclatures-filter-card, .trames-filter-card {
    display: flex;
    flex-direction: column;
    height:100%;
}

.parameterAndButton{
    width: 40%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.filter {
    width: 100%;
}

.nomenclatures-card, .trames-card, .indicators-card {
    padding-top: 4px;
    padding-left: 0;
    overflow: auto;
    height: 100%;
    min-height: 495px;
}

/* /deep/ Permet de sélélctionner les éléments générés par les composants angular, qui on leur propre DOM. */
/deep/ .left-column .mat-pseudo-checkbox {
    visibility: hidden;
}

mat-list-option {
    background-color: default;
    white-space: pre;
    overflow : hidden;
}

/deep/ mat-list-option[aria-selected=true] {
    background-color: #F5F5F5;
}

.nomenclature-row{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  white-space: pre;
  overflow : hidden;
}


.labels {
    margin-top: 1.1vh;
    margin-bottom: 1.1vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.labels span {
    margin-right: 0.5vw;
}

.equation-tab {
    display:flex;
    flex-direction: column;
    margin-top:3%;
  }
.equation {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;

}



.mat-card-content .description {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#svgGraph {
    text-align: center;
    overflow: hidden;
    height:100%;


}

.no-result-text {
  font-style: italic;
  color: #4e555b;
  font-size: 1.3em;
  opacity: 0.8;
}
